@font-face {
  font-family: 'calc-buttons';
  src: url('../fonts/Orbitron-VariableFont_wght.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'calc-screen';
  src: url('../fonts/DotGothic16-Regular.woff2') format('woff2');
  font-display: swap;
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    height: 700px;
    width: 500px;
    padding: 18px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #e7bdd1

}

.calc-screen {
    display: flex;
    box-sizing: border-box;
    height: 20%;
    width: 100%;
    padding: 16px;
    border: 2px solid #552a3e;
    border-radius: 25px;
    font-family: "calc-screen";
    font-size: 32px;
    background-color: #4f5544;
}

.calc-screen-inner {
    box-sizing: border-box;

    padding: 0 8px;
    border-radius: inherit;
    width: 100%;          
    text-align: right;
    white-space: nowrap;  
    

    overflow-x: auto;      
    overflow-y: hidden;


    scrollbar-width: none;     
    -ms-overflow-style: none;   
}

.calc-screen-inner::-webkit-scrollbar {
  display: none;   
}

.calc-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    box-sizing: border-box;
    gap: 10px;
    min-height: 70%;
    width: 100%;
    padding: 8px;
    border: 2px solid #552a3e;
    border-radius: 25px;
}

.calc-button {
    flex-shrink: 1;
    flex-basis: auto;
    width: 18%;
    height: 18%;
    padding: 0;
    margin: 0;
    border-radius: 25%;
    border: 1px solid #552a3e;
    font-family: "calc-buttons";
    font-size: 24px;
    color: #b4637a;
}

.button-func {
  background-color: #e16ea4;

}

.button-operator, #deci {
  background-color: #df8ab6;
}

.button-num {
  background-color: #e7c2d4;
}